*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

@media screen and (max-width: 499px) {
    
    body{
        background: var(--background);
        font-family: 'Poppins', sans-serif;
        background-repeat: no-repeat;
        min-width: 100%;
        min-height: 100vh;
    }
    
    h1{
        color: var(--title);
        text-align: center;
        margin: 2em;
    }
    
    p{
        color: var(--subtitle);
        text-align: center;
    }
    
    .principal{
        display: flex;
        align-items: center;
    
    }
    
    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3em;
    }
    
    #filme{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #encontrarFilme{
        display:flex;
        padding: 1em;
        border-radius: 3px;
        margin: 3em 0;
    }
    
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5em;
    }
    img{
        width: 8em;
    }
    
    #encontrarFilme img{
        width: 2em;
        margin-right: 1em;
    }
}


@media screen and (min-width: 500px) {

    body{
        background: var(--background);
        font-family: 'Poppins', sans-serif;
        background-repeat: no-repeat;
        min-width: 100%;
        min-height: 100vh;
    }

    .content{
        display: flex;
        flex-direction:column;
        text-align: center;
        align-items: center;
        padding: 0;
    }

    p{
        color: var(--subtitle);
        margin: 1em 5em;
    }

    h1{
        color: var(--title);
        padding: 1.2em;
    }

    #filme{
        display: flex;
        flex-direction: column;
    }

    button{
        margin: 2em;
        width: 13em;
        height: 3em;
        display:flex;
        align-items: center;
        background-color: var(--bg-button);
        border-radius: 8px;
        cursor: pointer;
        border: none;
    }

    button img{
        width: 5em;
        height: 1em;
    }

    .title img{
        height: 5em;
        margin-top: 3em;
    }

    #conteudo{
        width: 500px;
        display: flex;
        flex-direction:column;
        align-items: center;
    }

}

@media screen and (min-width: 801px) {

    body{
        height: 100%;
        background: var(--background);
        font-family: 'Poppins', sans-serif;
        background-repeat: no-repeat;
        padding: 5em;
        min-height: 100vh;
    }
    h1{
        color: var(--title);
        font-size:2em;
    }
    .title img{
        height: 5em;
    }
    .title{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50em;
    }

    .principal{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .content{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 40em;
        text-align: center;
    }

    button{
        margin: 2em;
        width: 13em;
        height: 3em;
        display:flex;
        align-items: center;
        background-color: var(--bg-button);
        border-radius: 8px;
        cursor: pointer;
        border: none;
    }
    button img{
        width: 5em;
        height: 1em;
    }
    p{
        color: var(--subtitle);
    }

    #filme{
        display: flex;
        flex-direction: row;
        margin: 2em 0;
        align-items: center;
    }

    #conteudo{
        margin-left: 20px;
        width: 20em;
    }

    #descFilme{
        text-align: justify;
        margin:.5em;
    }
    #posterFilme{
        height: 15em;
    }

}